<breadcrumb></breadcrumb>
<div class="page-heading">{{'mano.thresholds.title' | translate}}</div>
<div class="search-btn-wrap">
    <div class="search-box">
        <input type="text" pInputText [placeholder]="'entity.action.search' | translate"
            (input)="dt.filterGlobal($event.target['value'].trim(), 'contains')">
    </div>
</div>

<div class="main-content">
    <div class="table-wrap">
        <p-table #dt [value]="data"
            [globalFilterFields]="['id', 'objectInstanceId'.toString().replace(commaRegex, ', ')]" (onFilter)="check()"
            [paginator]="true" [(selection)]="selecteds" [rows]="10" [pageLinks]="4" [rowsPerPageOptions]="[10, 20, 30]"
            [first]="first" (onPage)="onSortOrPage()" (onSort)="onSortOrPage()">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="width: 65px;" *ngIf="isAdmin">
                        <p-checkbox name="selecteds" binary="true" [(ngModel)]="isCheckAll" (onChange)="checkAll()">
                        </p-checkbox>
                    </th>
                    <th scope="col">
                        <div [hidden]="selecteds.length === 0"><button (click)="confirmDelete()"
                                [hidden]="!isAdmin"><img src="../../../../../content/images/trash-simple 4.png"
                                    alt="icon"></button></div>
                        <div [hidden]="selecteds.length !== 0">{{'mano.thresholds.title' | translate}}</div>
                    </th>
                    <th scope="col">
                    </th>
                    <th scope="col" [hidden]="!isAdmin" class="text-right">
                        <button class="mano-btn-table-head" (click)="isDisplay = true">Add Threshold</button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-threshold>
                <tr>
                    <td style="width: 65px;" *ngIf="isAdmin">
                        <p-checkbox name="selectedItem" [value]="threshold" [(ngModel)]="selecteds"
                            (onChange)="check()"></p-checkbox>
                    </td>
                    <td class="text-left">
                        <a [routerLink]="['/hppm/thresholds', threshold.id]">
                            {{threshold.id}}
                        </a>
                    </td>
                    <td>{{threshold?.objectInstanceId}}</td>
                    <td [hidden]="!isAdmin" class="text-right">
                        <span class="table-action" (click)="confirmDelete(threshold.id)" [hidden]="!isAdmin">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.5 6.66699V17.5003C2.5 18.1634 2.76339 18.7993 3.23223 19.2681C3.70107 19.7369 4.33696 20.0003 5 20.0003H15C15.663 20.0003 16.2989 19.7369 16.7678 19.2681C17.2366 18.7993 17.5 18.1634 17.5 17.5003V6.66699H2.5ZM7.5 15.8337H5.83333V10.0003H7.5V15.8337ZM10.8333 15.8337H9.16667V10.0003H10.8333V15.8337ZM14.1667 15.8337H12.5V10.0003H14.1667V15.8337Z"
                                    fill="#ED2E4F" />
                                <path
                                    d="M19.1667 3.33333H14.1667V0.833333C14.1667 0.61232 14.0789 0.400358 13.9226 0.244078C13.7663 0.0877974 13.5543 0 13.3333 0L6.66667 0C6.44565 0 6.23369 0.0877974 6.07741 0.244078C5.92113 0.400358 5.83333 0.61232 5.83333 0.833333V3.33333H0.833333C0.61232 3.33333 0.400358 3.42113 0.244078 3.57741C0.0877974 3.73369 0 3.94565 0 4.16667C0 4.38768 0.0877974 4.59964 0.244078 4.75592C0.400358 4.9122 0.61232 5 0.833333 5H19.1667C19.3877 5 19.5996 4.9122 19.7559 4.75592C19.9122 4.59964 20 4.38768 20 4.16667C20 3.94565 19.9122 3.73369 19.7559 3.57741C19.5996 3.42113 19.3877 3.33333 19.1667 3.33333ZM7.5 1.66667H12.5V3.33333H7.5V1.66667Z"
                                    fill="#ED2E4F" />
                            </svg>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="isAdmin ? 4 : 2">
                        {{'table.emptyMessage' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog styleClass="popup-edit vocs-popup" blockScroll="true" appendTo="body" header="Add Threshold"
    [(visible)]="isDisplay" [responsive]="true" showEffect="fade" (onHide)="addForm.reset()" [modal]="true"
    [style]="{'max-width': '80vw', width: '800px'}">
    <form name='addForm' (ngSubmit)="save()" #addForm="ngForm" role="form">
        <table>
            <caption></caption>
            <tr style="display: none;">
                <th scope="col"></th>
            </tr>
            <tr>
                <td>Select Hypervisor*</td>
                <td>
                    <select name="nsInstance" [(ngModel)]="newThresholds.objectInstanceId" #objectInstanceId="ngModel"
                        required>
                        <option value="null" selected disabled>- Select -</option>
                        <option *ngFor="let hypervisor of hypervisors" [value]="hypervisor?.id">
                            {{hypervisor?.hypervisorName}} ({{hypervisor?.hostIP}})</option>
                    </select>
                    <div *ngIf="objectInstanceId.errors?.required && objectInstanceId.touched" class="mess_valid">
                        Ns Instance is required
                    </div>
                </td>
            </tr>
        </table>
        <div class="criteria_box">
            <h1 class="title">Threshold Criteria</h1>
            <table>
                <caption></caption>
                <tr style="display: none;">
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td>Performance Metric*</td>
                    <td>
                        <select class="input_width" [(ngModel)]="newThresholds.criteria.performanceMetric"
                            name="performanceMetric" #performanceMetric="ngModel" required>
                            <option disabled selected value="null">- Select -</option>
                            <option *ngFor="let performanceMetric of performanceMetrics; let i = index"
                                [ngValue]="performanceMetrics[i]">{{performanceMetrics[i]}}</option>
                        </select>
                        <div *ngIf="performanceMetric.errors?.required && performanceMetric.touched" class="mess_valid">
                            Performance Metric is required
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Threshold Type*</td>
                    <td>
                        <select class="input_width" [(ngModel)]="newThresholds.criteria.thresholdType"
                            #thresholdType="ngModel" name="thresholdType" required>
                            <option disabled selected value="null">- Select -</option>
                            <option value="SIMPLE">SIMPLE</option>
                        </select>
                        <div *ngIf="thresholdType.errors?.required && thresholdType.touched" class="mess_valid">
                            Threshold Type is required
                        </div>
                    </td>
                </tr>
            </table>
            <div class="criteria_box_1">
                <h1 class="title">Simple Threshold Details</h1>
                <table>
                    <caption></caption>
                    <tr style="display: none;">
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Threshold Value*</label>
                                <div class="input-wrap">
                                    <input pattern="[0-9]+(\.[0-9][0-9]?)?" (change)="replaceSpace1()"
                                        class="input_width_1" type="text"
                                        [(ngModel)]="newThresholds.criteria.simpleThresholdDetails.thresholdValue"
                                        [class.invalid]="checkNumber(0.01, 999.99, thresholdValue.value)"
                                        #thresholdValue="ngModel" name="thresholdValue" required>
                                    <div *ngIf="thresholdValue.errors?.required && thresholdValue.touched"
                                        class="mess_valid">
                                        Threshold Value is required
                                    </div>
                                    <div *ngIf="((thresholdValue.errors?.pattern && thresholdValue.touched) || ((thresholdValue.value <= 0 && thresholdValue.touched) || (thresholdValue.value > 999.99 && thresholdValue.touched))) && !thresholdValue.errors?.required"
                                        class="mess_valid">
                                        Threshold Value must be valid from 0.01-999.99
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label>Hysteresis*</label>
                                <div class="input-wrap">
                                    <input pattern="[0-9]+(\.[0-9][0-9]?)?" class="input_width_1" type="text"
                                        [(ngModel)]="newThresholds.criteria.simpleThresholdDetails.hysteresis"
                                        [class.invalid]="(hysteresis.value <= 0 || hysteresis.value > 999.99) && hysteresis.touched"
                                        #hysteresis="ngModel" name="hysteresis" required>
                                    <div *ngIf="hysteresis.errors?.required && hysteresis.touched" class="mess_valid">
                                        Hysteresis is required
                                    </div>
                                    <div *ngIf="(hysteresis.errors?.pattern || hysteresis.value <= 0 || hysteresis.value > 999.99) && !hysteresis.errors?.required"
                                        class="mess_valid">
                                        Hysteresis value must be valid from 0.01-999.99
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
        <div class="popup-btns">
            <button class="mano-btn"
                [disabled]="addForm.form.invalid || isSaving || checkNumber(0.01, 999.99, thresholdValue.value) || checkNumber(0.01, 999.99, hysteresis.value)"
                type="submit">Save</button>
            <button class="sub-btn mano-btn" type="reset">Reset</button>
        </div>
    </form>
</p-dialog>