@import '../../../../content/scss/vars';

.total-wrap {
  flex-wrap: nowrap;

  .square {
    padding: 0 15px;
    width: 20%;

    .square-wrap {
      box-shadow: 0 7px 7px rgba(237, 101, 100, 0.1);
      border-radius: 12px;
      padding: 25px;

      .square-head {
        font-family: $sub-font;
        font-size: $font-size-lg + 1px;
        color: $slave-color;
        text-align: center;
        margin-bottom: 15px;
      }
    }

    &:first-of-type {
      .square-wrap {
        background-color: #ed6564;
      }
    }

    &:nth-of-type(2) {
      .square-wrap {
        background-color: #edc32e;
      }
    }

    &:nth-of-type(3) {
      .square-wrap {
        background-color: #2ed6ed;
      }
    }

    &:nth-of-type(4) {
      .square-wrap {
        background-color: #5a6bda;
      }
    }

    &:last-of-type {
      .square-wrap {
        background-color: #5adaa4;
      }
    }
  }
}

.main-content {
  margin-top: 30px;
  padding: 30px;

  .page-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading-icon {
      font-size: $font-size-sl + 12px;
      font-weight: $bold;

      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: 48px;
        height: 48px;
        background-color: $background-color;
        border-radius: 50%;

        fa-icon {
          font-size: 24px;
        }
      }
    }

    .filter-wrap {
      select {
        min-width: 160px;
        margin-left: 12px;
      }
    }
  }

  .table-wrap {
    ::ng-deep table {
      tr {
        td {
          .table-action {
            cursor: pointer;
          }

          img {
            width: 16px;
          }
        }
      }
    }
  }

  .graph-wrap {
    margin-bottom: 30px;

    .col-graph {
      .col-wrap {
        border: 1px solid $border-color;
        border-radius: 6px;
        padding: 15px;

        .col-heading {
          font-size: $font-size-xxl;
          font-weight: $bold;
          margin-bottom: 15px;
          text-align: center;
        }
      }

      &:first-of-type {
        .col-wrap {
          .col-heading {
            color: #ed6564;
          }
        }
      }

      &:nth-of-type(2) {
        .col-wrap {
          padding-bottom: 0;
          height: 100%;

          .col-heading {
            color: #2ed6ed;
          }

          ::ng-deep canvas {
            min-height: 238px;
          }
        }
      }

      &:last-of-type {
        .col-wrap {
          .col-heading {
            color: #5adaa4;
          }
        }
      }
    }
  }

  .vim-wrap {
    padding: 15px 30px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 1px solid $border-color;

    .vim-name {
      font-size: $font-size-sl;
      font-weight: $bold;
      margin-bottom: 20px;
      text-align: center;
    }

    .chart-table-wrap {
      display: flex;
      justify-content: space-between;

      .chart-wrap {
        .charts {
          display: flex;

          .chart {
            padding: 0 25px;

            .chart-name {
              margin-top: 15px;
              text-align: center;
              font-size: $font-size-lg + 1px;
            }

            &:first-of-type {
              padding-left: 0;
            }
          }
        }

        .icons {
          display: flex;
          margin-top: 30px;

          .icon-wrap {
            margin-right: 30px;
            display: flex;
            justify-content: center;
            font-size: $font-size-lg + 1px;

            fa-icon {
              margin-right: 12px;
              font-size: $font-size-xl;
            }
          }
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main-content {
    .page-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      .heading-icon {
        margin-bottom: 15px;
      }

      .filter-wrap {
        display: flex;
        width: 100%;

        select {
          width: 100%;
          min-width: auto;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    .graph-wrap {
      .col-graph {
        width: 100%;
        flex: auto;
        margin-bottom: 15px;
        max-width: initial;

        &:nth-of-type(2) {
          .col-wrap {
            padding-bottom: 15px;
            height: auto;

            ::ng-deep canvas {
              min-height: auto;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    .page-heading {
      .filter-wrap {
        flex-wrap: wrap;

        select {
          width: calc(100% / 3 - 12px);
          margin: 0 6px 10px 6px;

          &:first-of-type {
            margin-left: 6px;
          }
        }
      }
    }
  }
}
