@import '../../../../content/scss/vars';

::ng-deep .ui-dialog-content {
  padding: 50px;

  .error-message-fileupload {
    margin: 10px 16px;
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;

    .error-message {
      padding: 5px 10px 5px 15px;
    }

    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .successful-message-fileupload {
    .message-row {
      margin: 15px 16px 0;
    }

    div {
      display: inline-block;
      margin-right: 15px;
    }

    .close-btn {
      background-color: #f0f0f0;
      border: none;
      border-radius: 6px;
      display: inline-block;
      padding: 0;
      text-decoration: none !important;
      text-align: center;
      height: 20px;
      width: 20px;
    }
  }

  ::ng-deep .ui-fileupload {
    .ui-fileupload-buttonbar {
      padding: 0 15px !important;
      border: none !important;

      .ui-fileupload-choose {
        border: 2px dashed #f9e1e5;
        border-radius: 32px;
        padding: 0;
        height: 260px;
        background-color: #fff9fa;
      }

      ::ng-deep button {
        display: none;
      }
    }

    .ui-fileupload-content {
      display: none; // remove error message file
    }
  }
}

::ng-deep .popup-edit {
  table {
    margin: auto;

    tr {
      td {
        padding: 5px 10px;

        .radio-btn {
          margin-right: 15px;
        }

        &:last-of-type {
          font-family: $sub-font;
        }
      }
    }
  }
}
