<breadcrumb></breadcrumb>
<div class="page-heading">{{'mano.supportingService.title' | translate}}</div>
<div class="search-btn-wrap">
    <div class="search-box">
        <input type="text" pInputText [placeholder]="'entity.action.search' | translate" (input)="dt.filterGlobal($event.target['value'].trim(), 'contains')">
    </div>
</div>

<div class="main-content">
    <div class="table-wrap">
        <p-table #dt [value]="supportingServices" [globalFilterFields]="['supportingServiceType', 'ip', 'port', 'enabled']"
                 [paginator]="true"
                 [rows]="10"
                 [pageLinks]="4"
                 [rowsPerPageOptions]="[10, 20, 30]">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="width: 60px;">#</th>
                    <th scope="col" [pSortableColumn]="'supportingServiceType'">Service Type
                        <p-sortIcon [field]="'supportingServiceType'"></p-sortIcon>
                    </th>
                    <th scope="col" [pSortableColumn]="'ip'">IP
                        <p-sortIcon [field]="'ip'"></p-sortIcon>
                    </th>
                    <th scope="col" [pSortableColumn]="'port'">Port
                        <p-sortIcon [field]="'port'"></p-sortIcon>
                    </th>
                    <th scope="col" [pSortableColumn]="'enabled'">Enabled
                        <p-sortIcon [field]="'enabled'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-SupportingService>
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{SupportingService.supportingServiceType}}</td>
                    <td>{{SupportingService.ip}}</td>
                    <td>{{SupportingService.port}}</td>
                    <td>
                      <img *ngIf="SupportingService.enabled === true" src="../../../../content/images/enabled.png" alt="icon"/>
                      <img *ngIf="SupportingService.enabled === false" src="../../../../content/images/disabled.png" alt="icon"/>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="5">
                        {{'table.emptyMessage' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
