@import '../../../../../content/scss/vars';

.main-content {
  .table-wrap {
    ::ng-deep table {
      tr {
        td {
          &:nth-of-type(3) {
            a {
              color: $base-color;
            }
          }
        }
      }
    }
  }
}

::ng-deep .popup-edit {
  table {
    margin: auto;
    width: auto !important;

    tr {
      td {
        padding: 8px 10px;
      }
    }
  }

  .login-vim {
    text-align: center;
    font-size: $font-size-lg;

    a {
      color: #007bff;
    }
  }
}

.td_border {
  border-left: 1px solid #e5e5e5 !important;
  border-right: 1px solid #e5e5e5 !important;
}
