<breadcrumb></breadcrumb>
<div class="page-heading">{{'mano.network.title' | translate}}</div>
<div class="search-btn-wrap">
    <div class="search-box">
        <input type="text" pInputText [placeholder]="'entity.action.search' | translate" (input)="dt.filterGlobal($event.target['value'].trim(), 'contains')">
    </div>
</div>

<div class="main-content">
    <div class="table-wrap">
        <p-table #dt [value]="netWorks" [globalFilterFields]="['networkResourceName', 'subnet', 'networkType', 'isShared', 'routerExternal', 'operationalState']" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[10, 20, 30]" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                   <th scope="col">{{'mano.network.title' | translate}}</th>
                   <th scope="col"></th>
                   <th scope="col"></th>
                   <th scope="col"></th>
                   <th scope="col"></th>
                   <th scope="col"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-netWork>
                <tr>
                    <td>{{netWork?.networkResourceName}}</td>
                    <td>{{netWork?.subnet}}</td>
                    <td>{{netWork?.networkType}}</td>
                    <td>{{netWork?.isShared ? 'Yes' : 'No'}}</td>
                    <td>{{netWork?.routerExternal ? 'Yes' : 'No'}}</td>
                    <td>{{netWork?.operationalState}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">
                        {{'table.emptyMessage' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
