<breadcrumb></breadcrumb>
<div class="page-heading">{{'mano.tenant.list' | translate}}</div>
<div class="search-btn-wrap">
    <div class="search-box">
        <input type="text" pInputText [placeholder]="'entity.action.search' | translate" (input)="dt.filterGlobal($event.target['value'].trim(), 'contains')">
    </div>
</div>

<div class="main-content">
    <div class="table-wrap">
        <p-table #dt [value]="data" (onFilter)="check()" (onSort)="onSortOrPage()" (onPage)="onSortOrPage()" [globalFilterFields]="['name', 'objectInstanceIds']"
                 [paginator]="true"
                 [rows]="10"
                 [pageLinks]="4"
                 [rowsPerPageOptions]="[10, 20, 30]">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" *ngIf="isAdmin" style="width: 65px;">
                        <p-checkbox name="selecteds" binary="true" [(ngModel)]="isCheckAll" (onChange)="checkAll()"></p-checkbox>
                    </th>
                    <th scope="col">
                        <div [hidden]="selecteds.length === 0"><button (click)="confirmDelete()"
                            [hidden]="!isAdmin"><img src="../../../content/images/trash-simple 4.png"
                                alt="icon"></button></div>
                    <div [hidden]="selecteds.length !== 0">{{'mano.tenant.list' | translate}}</div>
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" *ngIf="isAdmin" colspan="2" class="text-right">
                        <button class="mano-btn-table-head" (click)="isDisplayTenant = true" [hidden]="!isAdmin">Create Tenant</button>
                        <button class="mano-btn-table-head" (click)="isDisplayCreate = true" [hidden]="!isAdmin">Create User</button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tenant>
                <ng-container *ngIf="tenant?.users?.length > 0">
                    <tr *ngFor="let user of tenant?.users; let i = index">
                        <td *ngIf="isAdmin && i === 0" [attr.rowspan]="tenant?.users?.length" style="width: 65px;">
                            <p-checkbox name="selectedItem" [value]="tenant" [(ngModel)]="selecteds" (onChange)="check()"></p-checkbox>
                        </td>
                        <td *ngIf="i === 0" [attr.rowspan]="tenant?.users?.length">{{tenant?.name}}</td>
                        <td>{{user?.username}}</td>
                        <td>
                            <span *ngFor="let role of user?.roles; let ii = index" style="color: #111;">{{role.roleType}}<em *ngIf="ii < user?.roles?.length - 1">,&nbsp;</em></span>
                        </td>
                        <td *ngIf="isAdmin">
                            <span style="margin: 0;" class="table-action" (click)="editForm(user)">
                              <img src="../../../content/images/edit.png"  alt="icon"/>
                            </span>
                            <span style="margin: 0;" class="table-action" (click)="confirmDeleteUserMano(user?.id)">
                              <img src="../../../content/images/delete.png"  alt="icon"/>
                            </span>
                        </td>
                        <td *ngIf="isAdmin && i === 0" [attr.rowspan]="tenant?.users?.length">
                            <span class="table-action" (click)="confirmDelete(tenant?.id)">
                                <img src="../../../content/images/delete.png" alt="icon"/>
                            </span>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="!tenant?.users">
                    <td style="width: 65px;" *ngIf="isAdmin">
                        <p-checkbox name="selectedItem" [value]="tenant" [(ngModel)]="selecteds" (onChange)="check()"></p-checkbox>
                    </td>
                    <td>{{tenant?.name}}</td>
                    <td></td>
                    <td></td>
                    <td *ngIf="isAdmin" colspan="2">
                        <span class="table-action" (click)="confirmDelete(tenant?.id)">
                            <img src="../../../content/images/delete.png" alt="icon"/>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="isAdmin ? 6 : 3">
                        {{'table.emptyMessage' | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog styleClass="popup-edit vocs-popup"
          blockScroll="true"
        appendTo="body"
        header="Create Tenant" [(visible)]="isDisplayTenant" [responsive]="true"
        showEffect="fade" (onHide)="addTenantForm.reset()" [modal]="true" [style]="{'max-width': '80vw', width: '800px'}">
    <form name='addTenantForm' aria-label="" (ngSubmit)="save()" #addTenantForm="ngForm" role="form">
        <table>
            <caption></caption>
            <tr style="display: none;">
                <th scope="col"></th>
            </tr>
            <tr>
                <td>Name*</td>
                <td>
                    <input pattern="^[A-Za-z]+[A-Za-z0-9_-]*" (blur)="newTenants.tenantName = newTenants?.tenantName?.trim()"
                        type="text" name="tenantName" [(ngModel)]="newTenants.tenantName" minlength="3" maxlength="20"
                        #tenantName="ngModel" required />
                    <div *ngIf="tenantName.errors?.pattern && tenantName.touched" class="mess_valid">
                        Invalid Tenant Name. Tenant Name must start with a letter.<br>Allowed characters are A-Z, a-z, 0-9, _, -
                    </div>
                    <div *ngIf="(tenantName.errors?.minlength || tenantName.errors?.maxlength) && tenantName.touched" class="mess_valid">
                        Tenant Name must be between 3 and 20 characters.
                    </div>
                    <div *ngIf="tenantName.errors?.required && tenantName.touched" class="mess_valid">
                        Name is required
                    </div>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <input (blur)="newTenants.tenantDescription = newTenants?.tenantDescription?.trim()"
                        type="text" name="tenantDescription" [(ngModel)]="newTenants.tenantDescription"/>
                </td>
            </tr>
        </table>
        <div class="popup-btns">
            <button class="mano-btn" [disabled]="addTenantForm.form.invalid || isSaving" type="submit">Save</button>
            <button class="sub-btn mano-btn" type="reset">Reset</button>
        </div>
    </form>
</p-dialog>

<p-dialog styleClass="popup-edit vocs-popup"
          blockScroll="true"
          appendTo="body"
          header="Create User Mano" [(visible)]="isDisplayCreate" [responsive]="true"
    showEffect="fade" (onHide)="reset()" [modal]="true" [style]="{'max-width': '80vw', width: '800px'}">
    <form name='addUserManoForm' aria-label="" (ngSubmit)="saveUserMano()" #addUserManoForm="ngForm" role="form">
        <table>
            <caption></caption>
            <tr style="display: none;">
                <th scope="col"></th>
            </tr>
            <tr>
                <td>Username*</td>
                <td>
                    <input pattern="^[A-Za-z]+[a-zA-Z0-9_-]*" [pKeyFilter]="blockSpace"
                        type="text" name="manoUsername" [(ngModel)]="newUserMano.manoUsername" minlength="3" maxlength="20"
                        #manoUsername="ngModel" required />
                    <div *ngIf="manoUsername.invalid && (manoUsername.dirty || manoUsername.touched)">
                        <div *ngIf="manoUsername.errors.pattern" class="mess_valid">
                            Invalid username. Username must start with a letter.<br>Allowed characters are a-z, A-Z, 0-9, _, -
                        </div>
                        <div *ngIf="manoUsername.errors.minlength && !manoUsername.errors.pattern" class="mess_valid">
                            Username must be between 3 and 20 characters.
                        </div>
                        <div *ngIf="manoUsername.errors?.required" class="mess_valid">
                            Username is required
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Password*</td>
                <td>
                    <input type="password" name="manoUserPassword" [pattern]="password_regex" [pKeyFilter]="blockSpace"
                        [(ngModel)]="newUserMano.manoUserPassword" #manoUserPassword="ngModel" minlength="8" maxlength="25" required />
                    <div *ngIf="manoUserPassword.invalid && (manoUserPassword.dirty || manoUserPassword.touched)">
                        <div *ngIf="manoUserPassword.errors.pattern" class="mess_valid">
                            Password must contain at least 1 uppercase,<br>1 lowercase, 1 numeric and 1 special character
                        </div>
                        <div *ngIf="(manoUserPassword.errors.minlength || manoUserPassword.errors.maxlength) && !manoUserPassword.errors.pattern" class="mess_valid">
                            Password must be between 8 and 25 characters.
                        </div>
                        <div *ngIf="manoUserPassword.errors?.required && manoUserPassword.touched" class="mess_valid">
                            Password is required
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Confirm Password*</td>
                <td>
                    <input type="password" name="passwordconfirmtext" [pattern]="password_regex"
                           [pKeyFilter]="blockSpace" [(ngModel)]="confirmPassword" minlength="8" maxlength="25"
                           #confirmPasswordText="ngModel" required manoBlockCopyPaste/>
                    <div *ngIf="confirmPasswordText.invalid && (confirmPasswordText.dirty || confirmPasswordText.touched)">
                        <div *ngIf="confirmPasswordText.errors.pattern" class="mess_valid">
                            Password must contain at least 1 uppercase,<br>1 lowercase, 1 numeric and 1 special character
                        </div>
                        <div *ngIf="(confirmPasswordText.errors.minlength || confirmPasswordText.errors.maxlength) && !confirmPasswordText.errors.pattern" class="mess_valid">
                            Password must be between 8 and 25 characters.
                        </div>
                        <div *ngIf="confirmPasswordText.errors?.required && confirmPasswordText.touched" class="mess_valid">
                            Confirm Password is required
                        </div>
                    </div>
                    <div *ngIf="newUserMano.manoUserPassword !== confirmPassword && confirmPasswordText.touched && !confirmPasswordText.errors?.required" class="mess_valid">
                        Please enter the same password as above
                    </div>
                </td>
            </tr>
            <tr>
                <td>Tenant*</td>
                <td>
                    <select name="selectTenant" [(ngModel)]="newUserMano.assignedTenant" #assignedTenant="ngModel" required>
                        <option disabled selected value="null">- Select Tenant -</option>
                        <option *ngFor="let tenant of data" [ngValue]="tenant.id">{{tenant.name}}</option>
                    </select>
                    <div *ngIf="assignedTenant.errors?.required && assignedTenant.touched" class="mess_valid">
                        Tenant is required
                    </div>
                </td>
            </tr>
            <tr>
                <td>Role*</td>
                <td>
                    <select [(ngModel)]="newUserMano.manoUserRoles[0].roleType" name="role" #role="ngModel" required>
                        <option disabled selected [value]="null">- Select Role -</option>
                        <option value="PROVIDER_ADMIN">PROVIDER_ADMIN</option>
                        <option value="PROVIDER_MEMBER">PROVIDER_MEMBER</option>
                        <option value="TENANT_ADMIN">TENANT_ADMIN</option>
                        <option value="TENANT_MEMBER">TENANT_MEMBER</option>
                    </select>
                    <div *ngIf="role.errors?.required && role.touched" class="mess_valid">
                        Role is required
                    </div>
                </td>
            </tr>
        </table>
        <div *ngIf="err_mess" class="alert alert-danger ng-star-inserted">{{err_mess}}</div>
        <div class="popup-btns">
            <button class="mano-btn" [disabled]="addUserManoForm.form.invalid || isSaving || (confirmPasswordText.invalid && (confirmPasswordText.dirty || confirmPasswordText.touched))" type="submit">Save</button>
            <button class="sub-btn mano-btn" (click)="reset()" type="button">Reset</button>
        </div>
    </form>
</p-dialog>

<p-dialog styleClass="popup-edit vocs-popup"
          blockScroll="true"
          appendTo="body"
          header="Update User Mano" [(visible)]="isDisplayEdit" [responsive]="true"
    showEffect="fade" (onHide)="reset()" [modal]="true" [style]="{'max-width': '80vw', width: '800px'}">
    <form name='editUserManoForm' aria-label="" (ngSubmit)="edituserMano()" #editUserManoForm="ngForm" role="form">
        <table>
            <caption></caption>
            <tr style="display: none;">
                <th scope="col"></th>
            </tr>
            <tr>
                <td>User Name</td>
                <td>
                    {{editUserMano.manoUsername}}
                </td>
            </tr>
            <tr>
                <td>Role*</td>
                <td>
                    <select [(ngModel)]="editUserMano.manoUserRoles[0].roleType" name="role" #role1="ngModel" required>
                        <option value="PROVIDER_ADMIN">PROVIDER_ADMIN</option>
                        <option value="PROVIDER_MEMBER">PROVIDER_MEMBER</option>
                        <option value="TENANT_ADMIN">TENANT_ADMIN</option>
                        <option value="TENANT_MEMBER">TENANT_MEMBER</option>
                    </select>
                    <div *ngIf="role1.errors?.required && role1.touched" class="mess_valid">
                        Role is required
                    </div>
                </td>
            </tr>
        </table>
        <div class="popup-btns">
            <button class="mano-btn" [disabled]="editUserManoForm.form.invalid || isSaving" type="submit">Save</button>
            <button class="sub-btn mano-btn" (click)="isDisplayEdit = false" type="button">
                Cancel
            </button>
        </div>
    </form>
</p-dialog>
