@import '../../../../../content/scss/vars';

.main-content {
  .table-wrap {
    ::ng-deep table {
      tr {
        td {
          border: 1px solid $border-color;

          &:nth-of-type(3) {
            a {
              color: $base-color;
            }
          }
        }
      }
    }
  }
}

::ng-deep .popup-edit {
  table {
    margin: auto;
    width: auto !important;

    tr {
      td {
        padding: 8px 10px;

        input,
        select {
          width: 100%;
        }
      }
    }
  }
}
