<breadcrumb></breadcrumb>
<div class="page-heading">{{'mano.subscriptions.title' | translate}}</div>

<div class="main-content">
    <div class="block-title">Performance Information Available Notification</div>
    <div class="detail-wrap">
        <table>
            <caption></caption>
            <tr style="display: none;">
                <th scope="col"></th>
            </tr>
            <tr>
                <td>Ns Instance ID:</td>
                <td>{{nspmSubscription?.filter['nsInstanceSubscriptionFilter']?.nsInstanceIds[0]}}</td>
            </tr>
            <tr>
                <td>Collection Period:</td>
                <td>{{nspmSubscription['pmJobDetail']?.criteria?.collectionPeriod}}</td>
            </tr>
            <tr>
                <td>Reporting Period:</td>
                <td>{{nspmSubscription['pmJobDetail']?.criteria?.reportingPeriod}}</td>
            </tr>
            <tr>
                <td>Reporting Boundary:</td>
                <td>{{nspmSubscription['pmJobDetail']?.criteria?.reportingBoundary}}</td>
            </tr>
        </table>
        <div class="vnf-wrap">
            <div class="heading">Select VNF Instance to view Chart</div>
            <div class="vnf">
                <p-listbox [options]="vnfInstances" [(ngModel)]="selectedVnfInstances" optionLabel="vnfInstanceName" checkbox="true" multiple="true"></p-listbox>
                <div class="select-chart">
                    <select [(ngModel)]="chartType">
                        <option value="line">Line chart</option>
                        <option value="bar">Bar chart</option>
                    </select>
                    <button class="mano-btn" jhiTranslate="entity.action.apply"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-wrap col-lg-6">
        <p-chart [type]="chartType" [data]="thresholdChart"></p-chart>
    </div>
</div>
